@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: #444444;

  background-color: #ffffff;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
}

.logo {
  margin-left: 60px;
}

.main-container {
  flex-grow: 1;
  width: 1160px;
  margin: 0 auto;
}

.search-form {
  width: 520px;
  margin: 0;
  margin-right: 24px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;

  background-color: #ffe17f;
}

.main-menu-container {
  display: flex;
  justify-content: flex-start;
  width: 1040px;
  margin: 0 auto;
}

.main-menu-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-menu-item {
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  padding: 0;
}

.navigation-item:first-child {
  width: 520px;
  margin-right: 24px;
}

.navigation-item:nth-child(2) {
  width: 140px;
  margin-right: 20px;
}

.navigation-item:last-child {
  margin-left: auto;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.slide-content {
  display: flex;
  justify-content: space-between;
}

.slide-section {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.slide-link {
  align-self: flex-start;
}

.categories-item {
  width: 160px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.service-tab {
  margin-left: 120px;
}

.service-item {
  display: flex;
  justify-content: flex-start;
  width: 1160px;
  margin: 0;
  padding: 0;

  background-color: #f0f0f0;
}

.service-item img {
  margin-right: 67px;
}

.service-link-block {
  align-self: flex-start;
  width: 140px;
  padding-right: 120px;
  padding-left: 18px;

  font-weight: 800;
  line-height: 21px;
  text-align: center;

  background-color: #8a8987;
}

.service-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.about-container {
  display: flex;
  max-width: 1160px;
}

.about {
  width: 560px;
}

.contacts {
  width: 560px;
  margin-left: 40px;
}

.title {
  margin: 0;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

h3.about.title {
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

[class*="link"] {
  color: #000000;

  text-decoration-line: none;
}

.catalog-header {
  margin-left: 60px;
}

.button {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.search-input {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
}

.logout {
  opacity: 0.3;
}

.search-button {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.main-menu-link {
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
}

.navigation-link {
  line-height: 21px;
}

.slide-number {
  align-self: flex-end;
  width: 250px;
  margin-right: 60px;

  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  text-align: right;
  color: #ffffff;
  /* Выделяю номер слайда */

  background-color: #880303;
}

.slide-content h3 {
  align-items: flex-start;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.slide-prop-dd {
  font-size: 36px;
}

.slide-prop-dt {
  font-size: 16px;
}

.categories-link {
  font-weight: 800;
  line-height: 24px;
  text-transform: none;
  letter-spacing: -0.02em;
}

.service-link {
  align-self: flex-start;
  padding-right: 120px;

  font-weight: 800;
  line-height: 21px;
  text-align: center;

  background-color: #8a8987;
}

.categories-item {
  display: inline-block;

  vertical-align: top;
}

.categories-item img {
  background-color: #ffe17f;
}

.delivery-block {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;

  background-color: #f0f0f0;
}

.delivery-block-link {
  width: 910px;
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-block-button {
  width: 125px;

  background-color: #ffe17f;
}

.delivery-list {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-address-text {
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #444444;

  text-decoration-line: underline;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;

  background-color: #f0f0f0;
}

.subscribe.title {
  width: 560px;
}

.subscribe-text {
  width: 560px;
  margin-left: 40px;
}

.subscribe-form {
  width: 860px;
}

.news-letter-block-text {
  display: inline-block;
  margin-left: auto;
}

.page-footer-container {
  display: flex;
  justify-content: flex-start;
  max-width: 1160px;
  margin: 0 auto;
}

.device-block {
  width: 239px;
  margin-right: 114px;
}

.services-socials-block {
  align-self: flex-end;
  width: 458px;
}

.phone-block {
  align-self: flex-end;
  margin-left: auto;
}

.footer-contacts-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 6px;
  padding-left: 12px;
}

.footer-socials-list {
  display: flex;
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
}

.catalog-products {
  display: grid;
  width: 100%;
  margin: 0 auto;

  grid-template-columns: 315fr 685fr;
}

.filter-title-box {
  width: 100%;

  background-color: #dcdcdc;
}

.filter-box {
  width: 100%;

  background-color: #ebebeb;
}

/* Заголовок Сортировка: */
.catalog-sorting.title {
  margin-right: 53px;
  margin-left: 70px;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


.filter-container {
  display: flex;
  flex-direction: column;
  width: 328px;
  margin-left: auto;
}

.products-box {
  width: 100%;

  background-color: #ffffff;
}

.products-container {
  display: flex;
  flex-direction: column;
  width: 832px;
  margin-right: auto;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.filter-container form {
  width: 200px;
  margin-left: auto;
  padding-right: 69px;
  padding-left: 59px;
}

.sorting-box {
  width: 100%;

  background-color: #ebebeb;
}

.sorting-type {
  display: flex;
  justify-content: flex-start;
  width: 832px;
  margin-right: auto;

  background-color: #dcdcdc;
}

.sorting-type > a.button:first-child {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.subscribe-textarea {
  font: inherit;
  color: #444444;

  opacity: 0.5;
}

.page-footer {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  background-color: #444444;
}

.page-footer h2,
.page-footer h3 {
  font-size: 18px;
  line-height: 21px;
}

.page-footer p {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.page-footer a {
  color: inherit;
}

.footer-contacts-phone {
  font: inherit;
  font-size: 16px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-left: 60px;
  padding: 0;

  font: inherit;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
}

.breadcrumbs-link {
  color: inherit;
}

/* Заголовок Фильтр: */

.catalog-filter.title {
  width: 236px;
  margin-left: auto;
  padding-right: 35px;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #dcdcdc;
}

.catalog-filter-group {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-feature {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  opacity: 0.3;
}

.select-control {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik", sans-serif;
}

.catalog-products form {
  background-color: #ebebeb;
}

.product-card {
  margin-left: 40px;

  color: #000000;
}

.product-card.title {
  margin: 0;
  padding: 0;

  font: inherit;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  width: 760px;
  margin-left: auto;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  background-color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-left: auto;
}

.pagination-digits {
  display: flex;
  justify-content: space-between;
  width: 169px;
}

.pagination-item {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ebebeb;
  opacity: 0.3;
}

.pagination-item a {
  color: inherit;

  opacity: inherit;
}

.pagination > .pagination-item:first-child {
  margin-right: auto;
  padding-left: 30px;
}

.pagination > .pagination-item:last-child {
  margin-left: auto;
  padding-right: 27px;
}

.pagination > .pagination-item:first-child,
.pagination > .pagination-item:last-child {
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: #000000;

  background-color: transparent;
  opacity: unset;
}
