@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: #444444;

  background-color: #ffffff;
}

.title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

.about.title {
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

[class*="link"] {
  color: #000000;

  text-decoration-line: none;
}

.button {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.page-header {
  background-color: #ffe17f;
}

.search-input {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
}

.logout {
  opacity: 0.3;
}

.search-button {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.main-menu-link {
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
}

.navigation-link {
  line-height: 21px;
}

.slide-number {
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  font-family: inherit;
  text-align: right;
  color: #ffffff;
  /* Выделяю номер слайда */

  background-color: #880303;
}

.slide-content h3,
.service-tab-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.slide-prop-dd {
  font-size: 36px;
}

.slide-prop-dt {
  font-size: 16px;
}

.categories-link {
  font-weight: 800;
  line-height: 24px;
  text-transform: none;
  letter-spacing: -0.02em;
}

.service-link {
  font-weight: 800;
  line-height: 21px;

  background-color: #8a8987;
}

.categories-item {
  display: inline-block;

  vertical-align: top;
}

.categories-item img {
  background-color: #ffe17f;
}

.service-item {
  background-color: #f0f0f0;
}

.delivery-block {
  background-color: #f0f0f0;
}

.delivery-block-link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-block-button {
  background-color: #ffe17f;
}

.delivery-list {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-address-text {
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #444444;

  text-decoration-line: underline;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-textarea {
  font: inherit;
  color: #444444;

  opacity: 0.5;
}

.page-footer {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  background-color: #444444;
}

.page-footer h2,
.page-footer h3 {
  font-size: 18px;
  line-height: 21px;
}

.page-footer p {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.page-footer a {
  color: inherit;
}

.footer-contacts-phone {
  font: inherit;
  font-size: 16px;
}

.breadcrumbs {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter.title {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #dcdcdc;
}

.catalog-filter-group {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-feature {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  opacity: 0.3;
}

.select-control {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik", sans-serif;
}

.catalog-products form {
  background-color: #ebebeb;
}

.product-card {
  color: #000000;
}

.product-card.title {
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  background-color: #ffffff;
}

.pagination-item {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ebebeb;
  opacity: 0.3;
}

.pagination-item a {
  color: inherit;

  opacity: inherit;
}

.pagination-item:first-child,
.pagination-item:last-child {
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: #000000;

  background-color: transparent;
  opacity: unset;
}
