@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Rubik";

  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: #444444;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.button {
  padding: 7px 45px;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.reset-indents {
  margin: 0;
  padding: 0;
}

.logo {
  margin-left: 60px;
}

.page-header {
  background-color: #ffe17f;
}

.search-form {
  display: flex;
  width: 516px;
  margin: 0 24px 12px 0;
}

.main-menu {
  display: flex;
  flex-direction: column;
  height: 323px;

  /* background-color: #ffe17f; */
}

.main-menu-inner-height {
  height: 209px;
  margin-bottom: 45px;
}

.main-menu-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding-top: 39px;
  padding-left: 40px;
}

.main-menu-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-list {
  display: flex;
  padding-left: 20px;

  list-style-type: none;
}

.navigation-item:first-child {
  width: 520px;
  margin-right: 24px;
}

.navigation-item:last-child {
  margin-left: auto;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.slide-content {
  display: flex;
  justify-content: space-between;
}

.slide-section {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.slide-link {
  align-self: flex-start;
}

.categories {
  margin-bottom: 70px;
}

.categories-item {
  display: flex;
  width: 160px;
  margin-right: 40px;
}

.categories-item:nth-child(6) {
  margin-right: 0;
}

.categories-item:last-child {
  margin-right: auto;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.categories-image {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #ffe17f;
}

.categories-image img {
  align-self: center;
}

.service {
  width: 100%;
  margin-bottom: 90px;

  background-color: #f0f0f0;
}

.service-list {
  display: flex;
  flex-direction: column;
}

.service-item {
  display: flex;
  margin-top: 78px;
}

.service-tab {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-right: 60px;
  padding-left: 120px;
}

.service-link-block {
  display: flex;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
}

.service-link {
  align-self: center;
  width: 130px;
  padding: 7px 20px;

  font-weight: 800;
  line-height: 21px;
  text-align: center;
}

.service-current-block {
  background-color: #000000;
}

.service-link.service-current {
  color: #ffc700;
}

.about-container {
  display: flex;
  margin-bottom: 90px;
}

.contacts {
  margin-left: 40px;
}

.title {
  margin: 0;
  margin-bottom: 60px;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

.about-title {
  margin-bottom: 30px;

  font: inherit;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.about-content {
  margin-bottom: 47px;
}

.about-link {
  margin-top: auto;
}

[class*="link"] {
  color: #000000;

  text-decoration-line: none;
}

.catalog-header {
  margin-bottom: 25px;
  margin-left: 40px;
}

.search-label {
  display: flex;
  flex-grow: 1;
}

.search-input {
  flex-grow: 1;
  align-self: center;
  padding: 10px 0 10px 19px;

  font: inherit;
  font-size: 16px;
  line-height: 19px;
}

.logout {
  opacity: 0.3;
}

.search-button {
  align-self: center;
  width: 160px;
  padding: 10px 19px 10px 0;

  font: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.main-menu-link {
  padding: 10px 20px 10px 40px;

  font-size: 16px;
  line-height: 19px;
  text-transform: none;
}

.navigation-link {
  padding: 10px 20px;

  line-height: 21px;
}

.slide-number {
  align-self: flex-end;
  width: 250px;
  margin-right: 60px;

  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  text-align: right;
  color: #ffffff;
  /* Выделяю номер слайда */

  background-color: #880303;
}

.slide-content h3 {
  align-items: flex-start;

  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.slide-prop-dd {
  font-size: 36px;
}

.slide-prop-dt {
  font-size: 16px;
}

.categories-link {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 253px;

  font-weight: 800;
  line-height: 24px;
  text-transform: none;
  letter-spacing: -0.02em;
}

.delivery-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: 100px;
  margin-bottom: 100px;
  padding: 0;

  background-color: #f0f0f0;
}

.delivery-block-link {
  width: 910px;
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-block-button {
  align-self: stretch;
  width: 125px;

  background-color: #ffe17f;
  border: none;
}

.delivery-list {
  margin-bottom: 75px;
  padding-top: 38px;

  list-style-type: none;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.delivery-item {
  margin-bottom: 27px;
}

.about-address-text {
  font-style: normal;
}

.contacts-address {
  margin-bottom: 43px;
}

.footer-address-text {
  margin: 0;
}

.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #444444;

  text-decoration-line: underline;
}

.contacts-shedule {
  margin-bottom: 70px;

  list-style-type: none;
}

.subscribe {
  padding-top: 75px;
  padding-bottom: 130px;

  background-color: #f0f0f0;
}

.subscribe-box {
  display: flex;
  flex-wrap: wrap;
}

.subscribe .title {
  width: 560px;
}

.subscribe-text {
  width: 560px;
}

.news-letter-block-text {
  display: block;
  align-self: center;
  box-sizing: border-box;
  margin-left: auto;
}

.page-footer-container {
  display: flex;
  justify-content: flex-start;
}

.device-block {
  width: 239px;
  margin-right: 114px;
}

.device-block img {
  margin-bottom: 40px;
}

.services-socials-block {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 460px;
}

.phone-block {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}

.footer-contacts-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 60px;

  list-style-type: none;
}

.footer-contacts-list .button {
  padding: 8px 8px;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;

  list-style-type: none;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-socials-item:nth-child(9) {
  margin-right: 0;
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-products {
  display: grid;
  align-content: center;
  width: 100%;

  grid-template-areas: "left-header filter-header sorting right-header"
  "left-side filter catalog right-side";
  grid-template-columns: 1fr 330px 830px 1fr;
  grid-template-rows: 70px 1fr;
}

.left-header {
  background-color: #dcdcdc;

  grid-area: left-header;
}

.right-header {
  background-color: #ebebeb;

  grid-area: right-header;
}

.left-side {
  background-color: #ebebeb;

  grid-area: left-side;
}

.right-side {
  grid-area: right-side;
}

.products-box {
  display: flex;
  flex-direction: column;
  padding-left: 30px;

  grid-area: catalog;
}

/* Заголовок Сортировка: */
.catalog-sorting.title {
  align-self: center;
  margin-right: 53px;
  margin-bottom: 0;
  margin-left: 70px;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 70px 0 40px;

  background-color: #ebebeb;

  grid-area: filter;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  background-color: #ffffff;
}

.sorting-type {
  display: flex;

  background-color: #ebebeb;

  grid-area: sorting;
}

.sorting-type > a.button:first-child {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  height: 55px;
}

.subscribe-textarea {
  width: 560px;

  font: inherit;
  color: #444444;

  opacity: 0.5;
}

.page-footer {
  padding: 60px 0;

  font: inherit;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  background-color: #444444;
}

.page-footer h2,
.page-footer h3 {
  font-size: 18px;
  line-height: 21px;
}

.page-footer p {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.page-footer a {
  color: inherit;
}

.footer-contacts-phone {
  margin-bottom: 70px;

  font: inherit;
  font-size: 16px;
}

.footer-socials-text {
  display: flex;
  height: 34px;
  margin: 0;
}

.htmlacademy-link {
  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 43px;
  margin-left: 40px;
  padding: 0;

  list-style-type: none;
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
}

.breadcrumbs-item {
  margin-right: 40px;
  padding: 10px 0;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  color: inherit;
}

/* Заголовок Фильтр: */

.catalog-filter-block {
  display: flex;
  align-content: center;

  background-color: #dcdcdc;
}

.catalog-filter.title {
  display: block;
  align-self: center;
  margin: 0;
  margin-left: 40px;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  grid-area: filter-header;
}

.catalog-filter-group {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-feature {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  opacity: 0.3;
}

.select-control {
  align-self: center;
  height: 30px;
  margin-right: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik", sans-serif;
}

.sorting-type .button {
  align-self: center;
  width: 30px;
  height: 30px;
  padding: 0;
}

.sorting-type .button:last-child {
  margin-right: -9px;
}

.product-card {
  margin: 0;
  margin-left: 40px;
  padding: 0;

  color: #000000;
}

.product-card.title {
  margin: 0;
  padding: 0;

  font: inherit;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  box-sizing: border-box;
  width: 760px;
  height: 55px;
  margin-left: auto;
  padding: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  background-color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;

  background-color: #ebebeb;
}

.pagination-digits {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.pagination-digits .pagination-link {
  display: block;
  align-self: center;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 8px 11px;

  opacity: 0.3;
}

.pagination-item {
  display: flex;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination > .pagination-item:first-child {
  margin-right: auto;
}

.pagination > .pagination-item:last-child {
  margin-left: auto;
}

.pagination > .pagination-item:first-child,
.pagination > .pagination-item:last-child {
  padding: 24px;

  font-weight: 800;
  font-family: "Raleway", sans-serif;

  background-color: transparent;
}
