@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  background-color: #fff;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000;
}

h3 {
  color: #000;
}

h3.about-title {
  font: inherit;
  font-size: 24px;
  font-weight: 700;
  color: #444;
}

a {
  text-decoration-line: none;
  color: #000;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
}

.page-header {
  background-color: #FFE17F;
}

.search-input {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
}

.logout {
  opacity: 0.3;
}

.search-button {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.main-menu-link {
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
}

.navigation-link {
  line-height: 21px;
}

.slide-number {
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  text-align: right;
  color: #fff;
  background-color: brown;
}

.slide-content h3,
.service-tab-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.slide-prop-dd {
  font-size: 36px;
}

.slide-prop-dt {
  font-size: 16px;
}

.categories-link {
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 800;
}

.service-link {
  background-color: #FFC700;
  font-weight: 800;
  line-height: 21px;
}

.categories-link {
  text-transform: none;
}

.categories-item {
  display: inline-block;
  vertical-align: top;
}

.categories-item img {
  background-color: #FFE17F;
}

.service-item {
  background-color: #f0f0f0;
}

.delivery-block {
  background-color: #f0f0f0;
}

.delivery-block-link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-block-button {
  background-color: #FFE17F;
}

.delivery-list {
  color: #000;
  font-weight: 700;
  line-height: 20px;
}

.about-address-text {
  font-style: normal;
}

.contacts-phone {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  color: #444;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-textarea {
  font: inherit;
  opacity: 0.5;
  color: #444;
}

footer {
  background-color: #444;
}

footer p,
footer a,
footer h2,
footer h3 {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

footer p,
footer a {
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-link {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
}

h2.catalog-filter-title {
  background-color: #DCDCDC;
}

.catalog-filter-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-group {
  font-family: "Rubik", sans-serif;
  font-weight: 400 ;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.catalog-filter-feature {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.catalog-products form {
  background-color: #ebebeb;
}

.product-card {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.product-card-title {
  font-size: inherit;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 21px;
  text-align: right;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
}

.pagination-item {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  background-color: #ebebeb;
  text-transform: uppercase;
  color: #444;
  opacity: 0.3;
}

.pagination-item:first-child,
.pagination-item:last-child {
  color: #000;
  opacity: unset;
}
